h1{
background:#00fff3;
padding:10px 0px;
color:white;

}
#login{
width:35%;
height::auto;
margin:0%  10%;
float:left;
//border:solid black;
//background:red;
box-shadow: 0 0 10px #00fff3;
}
h2{
background:#00fff3;
padding:10px;
color:white;

}
input[type=email]
{
width:80%;
height:30px;

}

input[type=password]
{
width:80%;
height:30px;

}
input[type=submit]
{
width:80%;
height:30px;

}
#register{
width:35%;
height::auto;
margin:0%  10% 0% 0% ;
float:right;
//border:solid black;
//background:red;
box-shadow: 0 0 10px #00fff3;

}
input[type=text]
{
width:80%;
height:30px;

}

nput[type=number]
{
width:80%;
height:30px;

}
input[type=submit]
{
width:80%;
height:30px;

}